{% extends "@App/classroom/classroomLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="h3">Your Next Session Will Start In</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}