.modal-backdrop {background: none;}
#videoContainer{
    /*float: right;*/
    position: absolute;
    top: 10px;
    right: 260px;
}
#localVideo{
    width: 100px;
    z-index: 11;
    position: absolute;
    top:210px;
    left: 150px;

}
#remoteVideos{
    position: absolute;
    z-index: 10;
    top:10px;
}
#remoteVideos video{
    width:250px;
}

#sharedScreen{
    width: auto;
    z-index: 12;
    position: absolute;
    top:40px;
    left: 10px;


}
#sharedScreen > video{
    max-width: 80vw;
}