.modal-backdrop {background: none;}
#localVideo{
    position: relative;
    left:-38px;
    bottom:0;
    right: 0;
    z-index: 100;
    width: 205px;

}

#remoteVideos{
    position: absolute;
    top:1vh;
    left: 16vw;
    z-index: 0;
    height: 98vh;
}
#remoteVideos video{
    height: inherit;
}
#videoButton{
    position: absolute;
    top:90vh;
    left: 86vw;
    z-index: 1000;
}